.btn {
    background: $blue;
    border-radius: 2px;
    color: $white;
    font-weight: 600;
    font-size: 12px;
    height: 26px;
    line-height: 18px;
    width: 160px;
    text-align: center;
    padding-top: 4px;
}
