.footer {
    background-color: $bluelight;
    padding-top: 60px;
    display: flex;

    .copyright {
        align-items: center;
        border-bottom: 1px solid #cdd1d4;
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;

        .text {
            font-size: 14px;
            line-height: 24px;
        }

        .logo {
            color: $logo;
        }

        @media (max-width: 576px) {
            flex-direction: column;

            .logo {
                margin: 14px 0;
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 32px;

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        .menu {
            display: flex;
            justify-content: space-between;

            @media (max-width: 576px) {
                margin-bottom: 32px;
            }

            .item {
                margin-right: 40px;
                font-size: 14px;
                line-height: 24px;

                &:last-of-type {
                    margin-right: 0;
                }

                .link {
                    color: $lightPurple;
                }
            }
        }

        .midias {
            display: flex;
            justify-content: space-between;

            .item {
                margin-right: 32px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}
