.footer {
    background-color: $bluelight;
    padding-top: 60px;
    display: flex;

    .text {
        font-size: 14px;
        line-height: 24px;
    }

    .logo {
        color: $logo;
    }

    .btn {
        border-radius: 4px;
    }

    .copyright {
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #cdd1d4;
        padding-bottom: 32px;

        @media (max-width: 576px) {
            flex-direction: column;

            .logo {
                margin: 14px 0 14px 0;
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 32px;

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        .menu {
            display: flex;
            justify-content: space-between;
        }

        .menu1 {
            display: flex;
            justify-content: space-between;
        }

        .item {
            margin-right: 40px;
            color: $primary;
            font-size: 14px;
            line-height: 24px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .icon {
            margin-right: 34px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
