.info-image {
    padding: 108px 0;

    .title {
        margin-top: 0;
    }

    .text {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 80px;
    }

    .container {
        & > .row {
            align-items: center;

            .row {
                padding: 0 16px;
            }
        }
    }

    .card {
        color: $black;

        &:first-of-type {
            padding-left: 0;
        }

        &-img {
            margin-bottom: 14px;
        }

        &-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 6px;
        }

        &-text {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .info-img {
        max-width: 540px;
        width: 100%;
    }
}
