.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  .menu {
    display: flex;

    .item {
      margin-right: 60px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .logo {
    height: 38px;
    font-Size: 26px;
    font-weight: 900;
    line-height: 38px;
    width: 79px;


  }


}
