.navigation {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 5%;

  .container {

    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &:before {
    background-image: url('../assets/designer_1.png')
  }

  .menu {
    display: flex;

    .item {
      margin-right: 60px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .logo {
    height: 38px;
    font-Size: 26px;
    font-weight: 900;
    line-height: 38px;
    width: 79px;
    color: $logo;


  }


}
