.post {
    padding-top: 122px;
    padding-bottom: 116px;

    .item {
        align-items: center;
        margin-bottom: 220px;

        .title {
            margin: 0;
            margin-bottom: 16px;
        }

        .text {
            font-size: 16px;
            line-height: 26px;
        }

        .btn {
            margin-top: 40px;
            width: 150px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.post-img {
    max-width: 446px;
    width: 100%;
}
