.post {
    padding-top: 122px;
    padding-bottom: 162px;

    .text {
        color: $black;
        margin-bottom: 40px;
    }

    .btn {
        padding: 12px 50px;
    }
}

.post-img {
    max-width: 446px;
    width: 100%;
}
