.title {
    font-size: 36px;
    font-weight: 500;
    height: 48px;
    margin-bottom: 34px;
    margin-top: 40px;
    line-height: 48px;
    letter-spacing: 1px;
    width: 539px;
}


.text {
    color: $bluelion;
    font-size: 18px;
    line-height: 30px;
}
